<%- include('partials/header.ejs') %>

<body>
        <div id="certificate">
            <img class="certificateLogo" src="Text Logo.png" alt="Kartexa">
            <h1 style="margin-top: 30px;">CERTIFICATE</h1>
            <h2 style="margin-bottom: 30px;">OF INTERNSHIP</h2>
            <p>This Certificate is presented to</p>
            <h1 style="margin-top: 20px; font-family: 'Alex Brush', cursive; letter-spacing: 4px;"><%= name %></h1>
            <hr>
            <p>for successful completion of the <span style="font-weight: bold; font-size: 20px;"><%= role %></span> <br>Internship from <%= startDate %> to <%= endDate %>.</p>
            <div class="organiser">
                <img class="digitalSignature" src="png_20230227_173304_0000-removebg-preview.png" alt="">
                <h4>PRASEN JEET</h4>
                <p style="font-size: 12px;">CEO, Kertexa</p>
            </div>
            <div class="qrcode">
                <img style="width: 80px;" src="<%= qrCodeImageUrl %>" alt="QR Code">
                <p>*Scan QR to verify</p>
            </div>
        </div>
        <button id="download" onclick="downloadCertificate()"><i class="fa-solid fa-file-arrow-down"></i></button>

        <script src="https://kit.fontawesome.com/f729ac2968.js" crossorigin="anonymous"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script>
        function downloadCertificate() {
            html2canvas(document.querySelector("#certificate")).then(canvas => {
            // Convert canvas to image and trigger download
            var link = document.createElement("a");
            document.body.appendChild(link);
            link.download = "certificate.png";
            link.href = canvas.toDataURL();
            link.target = '_blank';
            link.click();
            });
        }
        </script>
</body>
</html>